<div class="l-central-panel is-shadowed">
				<h1>{!text : file=l-central-panel-text.php; name=h1!}</h1>
				<p class="about-text">
					{!text : file=l-central-panel-text.php; name=about_text!}
				</p><br>
				<form action="" method="post">
					<fieldset>
						<legend>
							{!text : file=l-central-panel-text.php; name=form_legend_1!}:
						</legend>
						{!text : file=l-central-panel-text.php; name=book_name!}<br>
						<input type="text" name="" value=""><br>
						{!text : file=l-central-panel-text.php; name=book_author!}<br>
						<input type="text" name="" value=""><br>
						{!text : file=l-central-panel-text.php; name=book_publ_year!}<br>
						<input type="text" name="" value=""><br>
					</fieldset>
					<br>
					<fieldset>
						<legend>
							{!text : file=l-central-panel-text.php; name=form_legend_2!}:
						</legend>
						{!text : file=l-central-panel-text.php; name=contact_name!}<br>						
						<input type="text" name="" value=""><br>
						{!text : file=l-central-panel-text.php; name=contact_number!}<br>
						<input type="text" name="" value="+xxx xx xxxxxxx"><br>
						{!text : file=l-central-panel-text.php; name=contact_mail!}<br>
						<input type="text" name="" value=""><br>
					</fieldset>
					<br>
					<input type="submit" value="{!text : file=l-central-panel-text.php; name=form_submit!}">
				</form>
				<br>
			</div>