<div class="l-header">
	<div class="l-constrained">
		<div class="logo l-left-block">
			<a href="index.html">
				<p class="logo-name">{!text : file=main-text.php; name=logo_name!}</p>
				<p class="logo-text">{!text : file=main-text.php; name=logo_text!}</p>
			</a>
		</div>
		<div class="head-contacts l-left-block">
			<p class="logo-text">Velcom +375296870067</p>
			<p class="logo-text">MTC +375336870067</p>
			<p class="logo-text">Life +375256870067</p>
		</div>
		<div class="search l-right-block l-half-block">
		</div>
	</div>
</div>